body{
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.landing{
  position: relative;
  height: 100vh;
}
.welcome{
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  top: 30vh;
  margin-left: 20%;
  display: inline-block;
}
.container{
  display: inline-block;
}
.all-projects{
  display: flex;
  justify-content: space-around;
}
.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  border-style: groove;
}
.project{
  min-height: 100px;
  max-height: fit-content;
  border: 2px solid green;
}
.projects{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}
.content div{
  padding: 20px;
}
.footer{
  display: flex;
  justify-content: center;
}

/*animations*/
@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 20%;
  }
}
.appear-text {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3s;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
.typed-out{
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 2s steps(21, end) forwards, blinking .8s infinite;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  font-style: normal;
}
@keyframes typing {
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: orange; }
}
/*font styles*/
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-large {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 60px;
    font-style: normal;
  }
/*this site is responsive!*/
@media only screen and (max-width: 700px) {
  .about{
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
  }
}