body{
  padding: 20px;
}
.landing{
  position: relative;
  background-color: palegoldenrod;
  height: 100vh;
}
.welcome{
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  top: 30vh;
  margin-left: 20%;
  display: inline-block;
}
.container{
  display: inline-block;
}
.about{
    background-color: goldenrod;
}
.projects{
    background-color: palegoldenrod;
}
.blog{
    background-color: goldenrod;
}
.content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
/*animations*/
@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 20%;
  }
}
.appear-text {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
      opacity: 1; /* Endwert: sichtbar */
  }
}
.typed-out{
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 2s steps(21, end) forwards, blinking .8s infinite;
  font-size: 1.6rem;
}
@keyframes typing {
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: orange; }
}
/*font styles*/
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-large {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 60px;
    font-style: normal;
  }